<p id="notice"><%= notice %></p>
<% @user.uploads.each do |upload| %>
    <a onclick="return launchEditor('<%= upload["public_id"] %>', '<%= "http://res.cloudinary.com/task4testcloud/image/upload/v1468944275/" + upload["public_id"].to_s + "." + upload["image_content_type"][6..-1].to_s %>')">
    <%= cl_image_tag(upload["public_id"],
                     :id => upload["public_id"],
                     :height => 150,
                     :crop => :fill)
    %></a>
<% end %>

<%= form_for([@user, @user.uploads.build], html: { multipart: true, class: "dropzone"}) do |f|  %>
    <div class="fallback">
      <%= f.file_field :image %><br>
      <%= f.submit "Upload" %>
    </div>
<% end %><br>
<% if user_signed_in? %>
  <%= link_to 'Log out', destroy_user_session_path %>
<% end %>

<script type="text/javascript" src="http://feather.aviary.com/imaging/v3/editor.js"></script>
<script type="text/javascript">
    var featherEditor = new Aviary.Feather({
        apiKey: '0728ddae97b84c04bcd6adf4ef7fd5dc',
        apiVersion: 3,
        theme: 'light',
        tools: 'all',
        appendTo: '',
        onSave: function(imageID, newURL) {
            var img = document.getElementById(imageID);
            img.src = newURL;

            var url = '/users/<%= @user.id %>/uploads/update';
            var sendable = {'public_id': imageID, 'new_url': newURL};
            $.ajax({
            type: "POST",
            url: url,
            dataType: 'json',
            data: sendable
            });
        },
        
      onError: function(errorObj) {
          alert(errorObj.message);
      }
    });
    function launchEditor(id, src) {
        featherEditor.launch({
            image: id,
            url: src
        });
        return false;
    }
</script>
